 .header {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    background-color: var(--card);
//    backdrop-filter: var(--backdrop-blur);

//    &__title {
//       font-size: 1.5rem;
//       background: linear-gradient(to right, var(--gradient-from), var(--gradient-to));
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//    }

//    &__container {
//       display: flex;
//       justify-content: space-between;
//       padding: 1rem;
//    }

    svg {
        stroke: var(--text-color);
    }
 }