@use './styles/common/variables' as *;

body {
  background-color: var(--bg-color);
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  font-family: $font-family;
}

#root {}